.about {
    padding: 4rem 0 8rem 0;
   @include title();
    .about__left {
        img {
            width: 100%;
        }
    }
    .about__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include link();
        h3 {
            font-weight: 800;
        }
        .about__right__skills {
            // span {
            //     display: inline-block;
            //     padding: 0.5rem 2rem;
            //     background-color: $primary-color;
            //     border-radius: 30px;
            //     margin-right: 6px;
            //     color: $text-color;
            //     margin-top: 1rem;
            // }
            p{
                line-height: 1.5rem;
                font-size: 1.1rem;
            }
        }
    }
}